* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    background: #f1f5f9;
    color: #1e293b; 
}

.vyber {
    grid-row: 1 / span 3;
    background: #0f172a;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vyber a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}

.vyber a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    padding-left: 30px;
}

.uvod {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 200px;
    padding: 40px;
}

.uvod h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

.fotka {
    text-align: right;
}

.fotka img {
    width: 260px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.karty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    margin-bottom: 80px;
}

.karta {
    background: white;
    padding: 30px;
    border-radius: 18px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.karta:nth-child(even) {
    transform: translateY(25px);
}

.karta h2 {
    margin-bottom: 10px;
    color: red
}




.nadpis {
    text-align: left;
    margin-bottom: 25px;
    font-size: 30px;
    margin-left: 20px;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    margin-bottom: 80px;
}

.galeria-item {
    background: white;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria-item img {
    width: 90%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
}




td,
th {
    border: 1px solid #cbd5f5;
    padding: 12px;
    text-align: left;
}

th {
    background: #e0e7ff;
}



.zoznam-boxy {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    margin-left: 25px;
}

.box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}





.formular-box {
    margin-left: 240px;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    line-height: 25px;
    font-size: larger;
}

.formular-box input,
.formular-box textarea {
    width: 100%;
}




.logicek {
    width: 100px;
    bottom: 40px;
   position: absolute;
}

.spodok-text {
    color: white;
    font-size: 15px;
}

.spodok {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}






